/**
 * Layout: Header
 */ 
 
.header-top {
    align-items: start;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    vertical-align: 
}

.header-main {
    font-size: 8vw;
    letter-spacing: 100px;
    margin: 0 auto;
    width: 100%;
    padding-left: 5.5%;
    @include breakpoint (default) {
        letter-spacing: 40px;
        padding-left: 11%;
        font-weight: 400;
    }
    @include breakpoint (phablet) {
        letter-spacing: 60px;
        padding-left: 8%;
        font-weight: 400;
    }
    @include breakpoint (tablet) {
        letter-spacing: 100px;
        padding-left: 5%;
        font-weight: 200;
    }
    @include breakpoint (laptop) {
        letter-spacing: 100px;
        padding-left: 5.5%;
        font-weight: 200;
    }
}