/**
 * Layout: Header
 */

.header,
%header {
    text-align: left;
    margin: 0 auto;
}

.header-top {
    height: 70px;
}

.header-content {
    @extend %header;
}

.header-main {
    font-size: 3em;
    letter-spacing: 100px;
    margin: 0 auto;
    width: 95%;
    @include breakpoint (default) {
        font-size: 3em;
        letter-spacing: 60px;
    }
    @include breakpoint (phablet) {
        font-size: 5em;
        width: 80%;
        letter-spacing: 60px;
    }
    @include breakpoint (tablet) {
        font-size: 8em;
        letter-spacing: 100px;
    }
    @include breakpoint (laptop) {
        font-size: 9em;
        letter-spacing: 100px;
    }
}